@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

section {
  font-family: "Rowdies", sans-serif;
  color: white;
  font-weight: 300;
  font-style: normal;
 
}

@media (max-width: 1380px) {
  
  .cardservicio{
    width: 20% ;
  }
}



@media (max-width: 1441px) {
  
}