@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

section {
  font-family: "Rowdies", sans-serif;
  color: white;
  font-weight: 300;
  font-style: normal;
 
}

@media (max-width: 640px) {
  .article-nos{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .div-titulo {
    margin: 0;
  }

  .titulo {
    margin-left: 1rem;
    width: max-content;
  }
}


@media (min-width: 1024px) and (max-width: 1366px) {

  .titulo {
    font-size: 40px;
  }
}


