@media (max-width: 640px) {
    .carousel-projects {
        flex-direction: column;
        height: max-content;
        margin-top: 2rem;
    }

    .titulo-projects {
        margin-bottom: 4rem;
    }

    .btn-car {
        margin-top: 1rem;
    }

    .car-img {
        width: 100%;
    }
    
    .section-carrus {
        height: 90vh;
    }

}

@media (min-width: 1024px) and (max-width: 1366px) {
    .carousel-projects {
        width: 100%;
    }

    .gapeano {
        gap: 20px;
    }

    .car-img {
        height: 85%;
    }

}


@media (min-width: 1380px) and (max-width: 1440px) {
    .carousel-projects {
        width: 85%;

    }

    .gapeano {
        gap: 20px;
    }

}