@media (max-width: 640px) {
    .contactanos {
        width: 90%;
        margin-bottom: 1rem;

        
    }
}


@media (min-width: 1024px) and (max-width: 1366px) {
    .contactanos {
        width: 31%;
    }

    .tamaño-letra1 {
        font-size: 25px;
    }

    .tamaño-letra2 {
        font-size: 18px;
    }

    .boton {
        padding: 1rem;
    }
}

@media (min-width: 1380px) and (max-width: 1441px) {

    .contactanos {
        width: 29%;
    }

}


