@media (min-width: 1024px) and (max-width: 1366px) {
    .contactanos {
        width: 31%;
    }

    .tamaño-letra1 {
        font-size: 25px;
    }

    .tamaño-letra2 {
        font-size: 18px;
    }

}


@media (min-width: 1380px) and (max-width: 1440px) {
    .contactanos {
        width: 29%;
    }

}